#reduct-feedback-collector {
  grid-row: 2;
  grid-column: 2 / 5;
  align-self: end;
  justify-self: end;

  padding: 1rem;
}

#reduct-feedback-collector-popup {
  display: grid;
  grid-template-rows: auto auto;

  padding: 0.5rem;
  border-radius: 0.5rem;

  background: var(--reduct-ui-bg);
  box-shadow: 0 0 0.5rem rgba(black, 0.25);
}

#reduct-feedback-collector-prompt {
  display: block;
  grid-row: 1;

  margin: 0;

  padding: 0.25rem;
}

#reduct-feedback-collector-hint {
  grid-row: 2;
  grid-column: 1;

  padding: 0.25rem;

  color: rgba(black, 0.56);

  font-size: 0.9rem;
}

#reduct-feedback-collector-content {
  grid-row: 2;
  grid-column: 1;
  overflow: hidden;
}

#reduct-feedback-collector-btns {
  display: grid;
  grid-template-columns: 50% 50%;
}

.reduct-feedback-collector-btn {
  margin: 0.5rem;
}
