@use '../theme';
@use 'base';

#reduct-game-menu {
  grid-row: 1;
  grid-column: 4;
}

#reduct-game-menu-inner {
  @include base.ui-panel($accent: hsl(221, 60%, 70%));
  z-index: 150;
  display: grid;
  grid-template-rows: 25rem 1fr;
  align-items: stretch;

  height: calc(100% + 25rem);

  margin-top: -25rem;
  padding: 0;
}

#reduct-game-menu-dismiss {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  background: rgba(0 0 0 / 0.25);
}

#reduct-game-menu-scroller {
  overflow-y: auto;

  width: 100%;
  height: 20rem;
  margin-top: 5rem;
  padding: 1rem;
}
