{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        // "targets": "> 0.25%, not dead",
        "targets": "Chrome 78",
        "useBuiltIns": "usage",
        "corejs": 3,
        "shippedProposals": true
      }
    ],
    ["@babel/typescript", {
      "onlyRemoveTypeImports": true
    }],
    ["@babel/react"]
  ],
  "plugins": [
    "@babel/proposal-optional-chaining",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "react-hot-loader/babel"
  ]
}
