body {
    font-family: "Fira Sans", Arial, sans-serif;
    font-size: 16px;
    background: #8ab7db;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
 
button, #nav > a {
    font-family: inherit;
    background: lightblue;
    padding: 0.75em 1em;
    border: 1px solid #8ab7db;
    border-radius: 0.25rem;
    cursor: pointer;

    text-align: center;
}

#nav > a {
    text-decoration: none;
    color: inherit;
    display: block;
    flex: 0 0;
}

button:hover {
    background: #b9e7f7;
}

canvas {
    display: block;
    margin: 0 auto;
}
#nav {
    display: none;
    margin: 0 auto;
    height: 2.5em;
    /* prevent selection of text at top */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#nav > * {
    flex: 1;
}
#nav > select {
    flex: 0.5;
}

#nav button.dev {
    width: 4em;
}

#pause i:nth-child(2) {
    display: none;
}

#pause.paused i:nth-child(1) {
    display: none;
}

#pause.paused i:nth-child(2) {
    display: inline-block;
}

#ffwd.active {
    background: #6d8891;
}

#current-level, #animation-speed {
    flex: 1 0 5em;
    color: #FFF;
    vertical-align: middle;
    text-align: center;
}

#current-level, #chapter {
    display: none;
}

#current-level {
    font-family: "Nanum Pen Script", sans-serif;
    font-size: 2em;
    align-items: center;
}

#state-graph {
    padding: 0;
    position: absolute;
    left: 0;
    top: 2.5em;
    width:400px;
    height:400px;
    background: #111;
}

#consent-id-error {
    display: none
}

/* #region MODAL OVERLAYS */

.modal-overlay {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.modal-overlay.visible {
    bottom: 0;
    pointer-events: auto;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-overlay .modal-overlay-inner {
    background: #FFF;
    position: fixed;
    display: grid;
    grid-template-rows: 1fr auto;

    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    max-width: calc(100vw - 10rem);
    max-height: calc(100vh - 10rem);

    border-radius: 0.25rem;
    box-shadow: 0 0 2rem 2rem rgba(0, 0, 0, 0.15);

    transform: translate(-50%, -50%);
}

.modal-overlay.modal-center .modal-overlay-inner {
    height: auto;
    width: auto;
}

.modal-overlay .modal-body {
    grid-row: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-overlay .modal-actions {
    grid-row: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0.5rem -0.5rem -0.5rem;
}

.modal-overlay .modal-actions * {
    margin: 0.5rem;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.modal-overlay .modal-actions .modal-action-special {
    flex-grow: 1;
    text-align: start;
}

/* #endregion */

/* #region TYPOGRAPHY */

h1 {
    font-size: 3rem;
    font-weight: bold;
    
    margin: 1.5rem 0 1rem 0;
}

/* #endregion */

/* #region CONSENT FORM */

#consent-inner {
    padding: 1rem;
    height: auto;
    max-width: 35rem;
}

#consent-inner .modal-body {
    overflow-y: auto;
    padding: 0 1rem 1rem;
}

.password-prompt {
    margin: 1rem;
    text-align: center;
    font-size: 1.5em;
}

.password-prompt input[type="password"] {
    display: block;
    margin: 0 auto;
    font-size: 1.25em;
}

/* #endregion */

/* #region TUTORIAL */

#tutorial #tutorial-inner {
    padding: 1em;
}

#tutorial .modal-body {
    overflow-y: hidden; /* no scrollbar b/c video should not get clipped */
    display: flex;
    align-items: center;
    padding: 1rem;
}

#tutorial .video-player {
    height: calc(100% - 4pt);
    width: calc(100% - 4pt);
    padding: 4pt;
}

#tutorial .video-player video {
    box-shadow: 0 0 2pt 1pt rgba(0, 0, 0, 0.15);
}

#tutorial .tutorial-hint {
    opacity: 0.7;
    font-size: 0.9rem;
    font-style: italic;
    margin: 0.5rem 1rem;
}

/* #endregion */

/* #region VIDEO PLAYER */
.video-player {
    overflow: hidden;
    position: relative;
    text-align: center;
    pointer-events: none; /* so that user can't click in space near video to pause and unpause */
}

.video-player video {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
    pointer-events: auto;
    transition: filter 0.25s ease-in-out, -moz-filter 0.25s ease-in-out, -webkit-filter 0.25s ease-in-out;
}

.video-player.paused video,
.video-player.ended video,
.video-player:hover video {
    filter: brightness(30%);
    -webkit-filter: brightness(30%);
    -moz-filter: brightness(30%);
}

.video-player .video-player-controls {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    transition: opacity 0.25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* so that user can't click in space near video to pause and unpause */
}

.video-player.paused .video-player-controls,
.video-player.ended .video-player-controls,
.video-player:hover .video-player-controls {
    opacity: 1;
}

.video-player .video-player-controls button {
    display: none;
    color: white;
    background: transparent;
    border: none;
    font-size: 4em;
    pointer-events: auto;
}



.video-player.paused .video-player-controls .video-player-control-play {
    display: block;
}

.video-player.ended .video-player-controls .video-player-control-replay {
    display: block;
}

.video-player.playing .video-player-controls .video-player-control-pause {
    display: block;
}

/* #endregion */

.dev {
    display: none;
}

#credits {
    flex: 0 0;
}

#credits a {
    color: inherit;
    text-decoration: none;
}


.mobile-phone .reduct-toolbar {
    font-size: 2em;
}

.reduct-toolbar {
    z-index: 9999;
    position: absolute;
    display: flex;

    box-shadow: 0 5px 0 black;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #8ab7db;
}

.reduct-toolbar-proto {
    display: none;
}

.reduct-toolbar button {
    line-height: 1em;
    border-radius: 0;
}

.reduct-toolbar button:active {
    transform: translateY(5px);
}

.reduct-toolbar:not(.reduct-toolbar-playing) .toolbar-pause {
    display: none;
}

.reduct-toolbar.reduct-toolbar-playing .toolbar-ffwd,
.reduct-toolbar.reduct-toolbar-playing .toolbar-skip,
.reduct-toolbar.reduct-toolbar-playing .toolbar-play {
    display: none;
}

/*  #region LOADING SPINNER */
/*  https://loading.io/css/ */
#loading-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#loading-spinner {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%) scale(3);
}
#loading-spinner div {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    animation: loading-spinner 1.2s linear infinite;
}
#loading-spinner div:nth-child(1) {
    animation-delay: 0s;
    top: 29px;
    left: 53px;
}
#loading-spinner div:nth-child(2) {
    animation-delay: -0.1s;
    top: 18px;
    left: 50px;
}
#loading-spinner div:nth-child(3) {
    animation-delay: -0.2s;
    top: 9px;
    left: 41px;
}
#loading-spinner div:nth-child(4) {
    animation-delay: -0.3s;
    top: 6px;
    left: 29px;
}
#loading-spinner div:nth-child(5) {
    animation-delay: -0.4s;
    top: 9px;
    left: 18px;
}
#loading-spinner div:nth-child(6) {
    animation-delay: -0.5s;
    top: 18px;
    left: 9px;
}
#loading-spinner div:nth-child(7) {
    animation-delay: -0.6s;
    top: 29px;
    left: 6px;
}
#loading-spinner div:nth-child(8) {
    animation-delay: -0.7s;
    top: 41px;
    left: 9px;
}
#loading-spinner div:nth-child(9) {
    animation-delay: -0.8s;
    top: 50px;
    left: 18px;
}
#loading-spinner div:nth-child(10) {
    animation-delay: -0.9s;
    top: 53px;
    left: 29px;
}
#loading-spinner div:nth-child(11) {
    animation-delay: -1s;
    top: 50px;
    left: 41px;
}
#loading-spinner div:nth-child(12) {
    animation-delay: -1.1s;
    top: 41px;
    left: 50px;
}
@keyframes loading-spinner {
    0%, 20%, 80%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

/* #endregion */


#goto-level {
    background-color: #fed;
    border: 2px solid gray;
    padding: 1em;
    width: 8%;
    height: 4em;
    position: fixed;
    top: 10px;
    left: 100px;
}

#add-node {
  background-color: #fed;
  border: 2px solid gray;
  padding: 1em;
  width: 30%;
  height: 4em;
  position: fixed;
  top: 10px;
  left: 200px;
}

#capture-state {
  background-color: #fed;
  border: 2px solid gray;
  padding: 1em;
  width: 30%;
  height: 4em;
  position: fixed;
  top: 10px;
  left: 100px;
}

#capture-state button {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0;
  border: 1px solid #000;
  width: 4em;
  height: 1em;
}

.error {
    font-style: italic;
    color: red
}
