.projection {
  position: relative;
  margin-right: 0.125rem;
  margin-left: 0.125rem;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
  transform: var(--transform);
  transform-origin: center center;
  user-select: none;
  --transform: scale(1);

  &.draggable {
    cursor: grab;
  }
  
  &.steppable {
    cursor: pointer;
  }
  
  &.frozen {
    cursor: not-allowed;
    pointer-events: none;
  }

  .reduct-error-bubble {
    --bubble-color: rgb(200, 0, 0);
    pointer-events: none;
  }
}

.projection, .projection .content {
  display: inline-flex;
  align-items: stretch;
  vertical-align: middle;
}

.projection-enter {
  z-index: 1;
  --transform: scale(0);
}

.projection-enter-active {
  --transform: scale(1);
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.projection-exit {
  z-index: -1;
  transform: scale(1);
  opacity: 1;
}

.projection-exit-active {
  z-index: -1;
  transform: scale(0);
  opacity: 0;
  transition: opacity 500ms linear, transform 500ms ease-in;
}

#reduct-board > .projection {
  position: absolute;
  transform: translate(-50%, -50%) var(--transform, scale(1));
}
