.projection {
  --transform: scale(1);
  position: relative;
  margin-right: 0.125rem;
  margin-left: 0.125rem;
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace;
  user-select: none;
  transform: var(--transform);
  transform-origin: center center;

  &.draggable {
    cursor: grab;
  }
  
  &.steppable {
    cursor: pointer;
  }
  
  &.frozen {
    cursor: not-allowed;
    pointer-events: none;
  }

  .reduct-bubble-error {
    pointer-events: none;
  }
}

.projection, .projection .content {
  display: inline-flex;
  vertical-align: middle;
  align-items: stretch;
}

.projection-board-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top left;

  & > .projection {
    transform: translate(-50%, -50%);
  }
}
