@use '../theme';
@use 'layout';
@use 'fx';

.projection.lambda {
  @extend %projection-standalone;
  @include fx.projection-shadow-box();

  padding: 0.25rem 0.5rem;
  color: theme.$projection-foreground-inverse;
  background-color: white;
  border-radius: 0.25rem;

  & > .arg, & > .arrow, & > .body {
    @extend %value-container;
  }
}
