@use '../theme';
@use 'layout';
@use 'fx';

.projection.lambda {
  @extend %projection-standalone;
  @include fx.projection-shadow-box();

  gap: 0.25rem;

  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;

  background-color: white;
  color: theme.$projection-foreground-inverse;

  & > .arg, & > .arrow, & > .body {
    @extend %value-container;
  }

  // make the arg bigger so it's easier to drop things on it
  & > .arg {
    margin: -2rem;
    padding: 2rem;

    background-color: transparent;
  }

  &.hover {
    color: theme.$projection-color-function;
  }
}
