@use 'layout';
@use 'fx';
@use '../theme';

.projection.symbol {
  @extend %projection-standalone;
  @extend %value-container;
  @include fx.projection-shadow-irregular();

  .symbol-view {
    overflow: visible;
    height: 1.5rem;
  }

  .symbol-item {
    fill: theme.$projection-color-key;
    stroke: black;
    stroke-width: 2px;
  }
}
