$projection-foreground: white;
$projection-foreground-inverse: black;

$accent-1-default: #d4d4d4; // default
$accent-2-default: #82d7f2; // primary
$accent-3-default: #bcd0fb; // secondary
$accent-4-default: #b0e189; // special
$accent-5-default: #d76060; // danger

$accent-1-highlight: #e0e0e0; // default
$accent-2-highlight: #a7e3f6; // primary
$accent-3-highlight: #d4e1fc; // secondary
$accent-4-highlight: #c8ebad; // special
$accent-5-highlight: #e08585; // danger

$accent-1-inverse-default: #707070; // default
$accent-2-inverse-default: #107494; // primary
$accent-3-inverse-default: #305cbb; // secondary
$accent-4-inverse-default: #4a7e20; // special
$accent-5-inverse-default: #cd3737; // danger

$accent-1-inverse-highlight: #a3a3a3; // default
$accent-2-inverse-highlight: #24a3cc; // primary
$accent-3-inverse-highlight: #7596db; // secondary
$accent-4-inverse-highlight: #66af2c; // special
$accent-5-inverse-highlight: #d96868; // danger

$projection-color-key: #ffd500;
$projection-color-boolean: #9e40bf;
$projection-color-number: #995833;
$projection-color-string: #419933;
$projection-color-list: #1f8bad;
$projection-color-function: #ad1f1f;
$projection-color-builtin: #ad661f;
