$element-foreground: white;
$element-foreground-inverse: black;

$element-color-boolean: #9E40BF;
$element-color-number: #995833;
$element-color-string: #419933;
$element-color-list: #1F8BAD;
$element-color-function: #AD1F1F;
