$projection-foreground: white;
$projection-foreground-inverse: black;

$accent-1-default: #D4D4D4; // default
$accent-2-default: #82D7F2; // primary
$accent-3-default: #BCD0FB; // secondary
$accent-4-default: #B0E189; // special
$accent-5-default: #D76060; // danger

$accent-1-highlight: #E0E0E0; // default
$accent-2-highlight: #A7E3F6; // primary
$accent-3-highlight: #D4E1FC; // secondary
$accent-4-highlight: #C8EBAD; // special
$accent-5-highlight: #E08585; // danger

$accent-1-inverse-default: #707070; // default
$accent-2-inverse-default: #107494; // primary
$accent-3-inverse-default: #305CBB; // secondary
$accent-4-inverse-default: #4A7E20; // special
$accent-5-inverse-default: #CD3737; // danger

$accent-1-inverse-highlight: #A3A3A3; // default
$accent-2-inverse-highlight: #24A3CC; // primary
$accent-3-inverse-highlight: #7596DB; // secondary
$accent-4-inverse-highlight: #66AF2C; // special
$accent-5-inverse-highlight: #D96868; // danger

$projection-color-key: #FFD500;
$projection-color-boolean: #9E40BF;
$projection-color-number: #995833;
$projection-color-string: #419933;
$projection-color-list: #1F8BAD;
$projection-color-function: #AD1F1F;
$projection-color-builtin: #ad661f;
