@use '../theme';
@use 'layout';
@use 'fx';
@use 'sass:color';

.projection.identifier {
  @extend %projection-standalone;
  @include fx.projection-shadow-box();
  
  align-items: center;

  margin: 0 0.25rem;

  padding: 2px;
  border-radius: 0.5rem;

  background-color: white;
  color: color.change(theme.$projection-foreground-inverse, $alpha: 0.5);

  line-height: 1;

  &.valid {
    color: theme.$projection-foreground-inverse;
  }

  .identifier-name {
    padding: 0.25rem;
    border-radius: 0.5rem;
  }
}
