@use '../theme';
@use 'layout';
@use 'fx';

.projection.lambda {
  @extend %projection-standalone;
  @include fx.projection-shadow-box();

  gap: 0.25rem;

  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;

  background-color: white;
  color: theme.$projection-foreground-inverse;

  .lambda-arg, .lambda-arrow, .lambda-body {
    @extend %value-container;
  }

  // make the arg bigger so it's easier to drop things on it
  .lambda-arg {
    order: 0;

    margin: -2rem;
    padding: 2rem;

    background-color: transparent;
  }

  .lambda-arrow {
    order: 1;
  }

  .lambda-body {
    order: 2;
  }

  &.hover {
    color: theme.$projection-color-function;
  }
}
