@use 'layout';
@use 'fx';

.projection.note {
  @extend %projection-standalone;
  width: 25rem;
  max-width: 30rem;
  padding: 1rem;
  border: 1px dashed rgba(black, 0.5);

  background: white;

  font-weight: 500;
  white-space: pre-line;

  opacity: 0.65;
}
