@use 'base';

#reduct-board {
  position: relative;
  grid-row: 2;
  grid-column: 2 / 5;
  overflow: auto;
  margin: 0.5rem;
  border-radius: 0.25rem;
  background: var(--reduct-ui-bg);
  box-shadow: 0 0 0.5rem rgb(black 0.25);
}
