
.reduct-bubble {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: 10rem;
  margin: auto;
  color: white;
  font-size: 0.9em;
  font-family: 'Fira Sans', sans-serif;
  transform: var(--bubble-base-transform);
  --bubble-color: black;
  --foreground: white;

  &.bottom {
    top: 100%;
    left: 50%;
    padding-top: 0.5rem;
    transform-origin: center top;
    --bubble-base-transform: translate(-50%, 0);
  }

  .reduct-bubble-inner {
    padding: 0.5rem;
    background: var(--bubble-color);
    border-radius: 0.25rem;
    box-shadow: 0 0 4pt rgba(black, 0.25);
  }

  .reduct-bubble-pointer {
    z-index: 10;
    width: 1.5rem;

    polygon {
      fill: var(--bubble-color);
    }
  }
}

.reduct-bubble-error {
  --bubble-color: red;
}

.reduct-bubble-info {
  --bubble-color: dodgerblue;
}

