
.reduct-bubble {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: 10rem;
  margin: auto;
  color: white;
  font-size: 0.9em;
  font-family: 'Fira Sans', sans-serif;
  transform: var(--bubble-base-transform);
  --bubble-color: black;

  &.bottom {
    top: 100%;
    left: 50%;
    padding-top: 0.5rem;
    transform-origin: center top;
    --bubble-base-transform: translate(-50%, 0);
  }

  // TODO: implement bubbles on other sides

  .reduct-bubble-inner {
    padding: 0.5rem;
    background: var(--bubble-color);
    border-radius: 0.25rem;
    box-shadow: 0 0 4pt rgba(black, 0.25);
  }

  .reduct-bubble-pointer {
    z-index: 10;
    width: 1.5rem;

    polygon {
      fill: var(--bubble-color);
    }
  }

  &.reduct-bubble-enter {
    transform: var(--bubble-base-transform) scale(0);
  }

  &.reduct-bubble-enter-active {
    transform: var(--bubble-base-transform) scale(1);
    transition: transform 400ms cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  &.reduct-bubble-exit {
    opacity: 1;
  }

  &.reduct-bubble-exit-active {
    opacity: 0;
    transition: opacity 400ms ease-in-out;
  }
}

