@use '../theme';
@use 'base';

#reduct-goal {
  @include base.ui-panel($accent: hsl(190, 60%, 70%));
  grid-row: 1;
  grid-column: 2;
}

#reduct-goal-text {
  margin-right: 1rem;

  font-weight: 700;
}

#reduct-goal-items {
  display: flex;
  flex-flow: row wrap;
}
