@use '../text';

.reduct-loading-anim {
  vertical-align: middle;
  overflow: visible;

  height: 2rem;
}

.reduct-loading-anim-square {
  stroke: black;

  transform-origin: 100% 100%;
  animation-name: reduct-loading-anim-rotate, reduct-loading-anim-color;
  animation-duration: 0.5s, 0.5s;
  animation-iteration-count: infinite, infinite;
  animation-direction: normal, alternate;
  stroke-width: 1px;
}

.reduct-loading-text {
  padding: 0.5rem;

  font-weight: 700;

  font-family: text.$mono-font;
}

.reduct-loading-page {
  display: flex;
  flex-flow: column nowrap;
  grid-row: 1 / 4;
  grid-column: 1 / 5;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

@keyframes reduct-loading-anim-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: translateX(-100%) rotate(90deg);
  }
}

@keyframes reduct-loading-anim-color {
  0% {
    fill: black;
  }

  100% {
    fill: white;
  }
}
