@use 'theme';
@use 'layout';
@use 'fx';

.element.binop {
  @extend %element-standalone;
  color: theme.$element-foreground;

  & > .decoration {
    flex-grow: 0;
    width: 20px;

    polygon {
      fill: theme.$element-color-boolean;
    }
  }

  & > .content {
    background-color: theme.$element-color-boolean;

    .left, .right, .operation {
      @extend %value-container;
    }
  }
}
