@use '../theme';
@use 'layout';
@use 'fx';

.element.lambda {
  @extend %element-standalone;
  padding: 0.5rem;
  color: theme.$element-foreground-inverse;
  background-color: white;
  border-radius: 0.25rem;
}
